.tagsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tagsList li {
    display: inline-block;
    background-color: #363636;
    color: #4cb4fa;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    
}

.inputField{

    border: none;
    outline: none;
    padding: 5px;
    color: #fff;
    
    background-color: transparent;
    border-radius: 5px;
}